:root {
    --header-height: 60px;
}

/* pc */
@media screen and (min-width: 992px) {
    .header__bars {
        display: none;
    }

    #mobile-sidebar {
        display: none;
    }

    .header__checkbox {
        display: none;
    }
}

/* tablet and mobile */
@media screen and (max-width: 991px) {
    .header__container {
        display: block;
    }

    .header__bars {
        position: absolute;
        right: 15px;
        top: 12px;
    }

    #navbar {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: none;
        padding-top: 25px;
        opacity: 1 !important;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    #navbar li {
        margin: 5px 0;
    }

    .navbar--selected {
        margin-left: 15px;
    }

    .container {
        max-width: 690px;
    }

    .header__bars {
        padding: 4px 12px;
        border: 1px solid var(--green-main);
        border-radius: 4px;
        cursor: pointer;
    }

    .header__bars i {
        font-size: 2.6rem;
        color: var(--green-main);
    }

    .header__banner {
        margin-top: 60px;
    }

    .order {
        padding-top: 90px;
    }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 991px) {
    .product__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* mobile */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .product__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .reason__list,
    .footer__list {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .policy__container,
    .sale__list-wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .product__list {
        grid-template-columns: 1fr;
    }

    .reason__list,
    .footer__list {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

@keyframes mobileSidebarWrapperFadeIn {
    0% {
        max-height: 0;
    }

    100% {
        max-height: auto;
    }
}

@keyframes mobileSidebarFadeIn {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 100%;
    }
}
