:root {
    --blue: #007bff;
    --blue-main: #071e55;
    --border: #e5efff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --green-main: #73c93d;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-second: #3e3e3e;
    --primary: #007bff;
    --blue-hover: #017df7;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace; */
    --font: 'Roboto', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
    /* --font: 'gotham'; */
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

input,
button {
    border: none;
    outline: none;
}

img {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

table {
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

span {
    display: inline-block;
}

.container {
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;
}

/* header */
#header {
    padding-top: 20px;
    /* position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 10px; */
}

.header__fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px 0 17px;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header__logo img {
    width: 60px;
    height: 60px;
}

.header__logo-text {
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 500;
    vertical-align: middle;
    color: #73c93d;
    letter-spacing: 3px;
}

#navbar {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#navbar li a {
    padding: 10px 15px;
    color: #405263;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

.navbar--selected {
    color: #73c93d !important;
    border: 1px solid #73c93d;
    border-radius: 8px;
}

.header__banner {
    width: 100%;
    height: 354px;
    background-image: url('./img/banner-w.png');
    background-position: 50% 100%;
    background-size: cover;
    margin-top: 12px;
}

/* product */
.products {
    padding-bottom: 120px;
}

.product__title {
    text-transform: uppercase;
    color: #071e55;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-top: 90px;
    margin-bottom: 95px;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 115px 32px;
    margin-bottom: 70px;
}

.product__item {
    position: relative;
    padding: 0 25px 25px;
    border: 1px solid var(--border);
    background-color: #fefefe;
    border-radius: 7px;
    transition: all 0.5s;
}

.product__item:hover {
    /* color: var(--blue-hover); */
    transform: scale(1.025);
    transition: all 0.5s;
    cursor: pointer;
}

.product__image > img {
    /* position: absolute;
    transform: translateY(-50%);
    top: 50%; */
    max-width: 110px;
    border-radius: 50%;
    margin-top: -55px;
}

.product__name {
    color: var(--green-main);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 8px;
    /* padding: 64px 10px 36px 10px;
    border: 1px solid #e5efff;
    background-color: #fefefe;
    border-radius: 7px;
    transition: all 0.5s; */
}

.product__name:hover {
    border-color: var(--green-main);
    color: var(--blue-hover);
    /* transform: scale(1.025);
    transition: scale linear 0.5s;
    cursor: pointer; */
}

.product__cost-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--blue-main);
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
}

.product__cost-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #212529;
    margin-bottom: 20px;
}

.product__cost-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.product__cost-form > span {
    color: #212529;
    font-size: 1.4rem;
    font-weight: 400;
}

.product__cost-input {
    border: 1px solid #000;
}

.product__table {
    max-width: 500px;
    width: 100%;
    margin: 30px auto 0 auto;
}

.product__table-title {
    border-bottom-width: 2px;
    font-size: 1.6rem;
    font-weight: 700;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dde2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table th {
    padding: 12px;
}

.product__img {
    padding: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #fff;
}

.product__info {
    padding: 12px;
}

.product__info > div span {
    font-size: 1.4rem;
}

.product__detail-name {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

/* sale */
.sale__banner {
    background: url(./img/sale_banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 90px 0;
}

.sale__overlay,
.policy__overlay {
    width: 100%;
    background: #252525;
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sale__list-wrapper {
    background-color: #fff;
    position: relative;
    /* width: 100%; */
    max-width: calc(175% / 3);
    padding: 0 0 30px 0;
}

.sale__img {
    margin-bottom: 50px;
}

.sale__item {
    padding: 30px 40px 50px;
}

.sale__item-text i {
    color: var(--green-main);
    font-size: 1.8rem;
}

.sale__item-text span {
    display: inline-block;
    margin-left: 2px;
    font-size: 1.7rem;
    line-height: 26px;
    margin-bottom: 8px;
}

.sale__item-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sale__button {
    display: inline-block;
    color: #fff;
    background-color: var(--cyan);
    padding: 6px 12px;
    font-size: 1.6rem;
    line-height: 1.5;
    border-radius: 3px;
}

.sale__list li span {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 26px;
    margin: 8px 0;
}

.sale__list li img {
    width: 53px;
    height: 60px;
}

.sale__online-shopping {
    display: inline-block;
}

.sale__online-shopping + .sale__online-shopping {
    margin-left: 5px;
}

/* policy */
.policy__banner {
    background: url('./img/bg02.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 90px 0;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.policy__container {
    position: relative;
    background-color: #fff;
    max-width: calc(175% / 3);
    width: 100%;
    visibility: visible;
    animation: bounceIn 0.5s linear;
    padding: 40px;
    margin-top: 25px;
}

.policy__star {
    color: #1ca817;
    font-size: 2.2rem;
    font-weight: 400;
}

.policy__heading {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 26.4px;
    color: #1ca817;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.policy__title {
    display: inline-block;
    text-transform: uppercase;
    color: var(--gray-second);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.policy__icon {
    margin-right: 15px;
}

.policy__icon > i {
    font-size: 1.8rem;
    font-weight: 700;
}

.policy__item > p {
    font-size: 1.4rem;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    color: #3e3e3e;
}

.policy__item p > strong {
    color: var(--green-main);
    cursor: pointer;
}

.policy__item p > strong:hover {
    color: var(--blue);
}

/* Reason */
.reason {
    position: relative;
    background-color: #f7fafa;
    width: 100%;
    margin-top: 90px;
    padding-bottom: 100px;
}

.reason__heading {
    text-align: center;
    color: var(--blue-main);
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 25.2px;
    padding-top: 90px;
    margin-bottom: 60px;
}

.reason__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.reason__item {
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
    padding: 40px 15px 32px 15px;
    transition: all 1s linear;
}

.reason__item:hover {
    border-color: var(--green-main);
    transform: scale(1.025);
    transition: all 1s linear;
}

.reason__icon {
    text-align: center;
    margin-bottom: 25px;
}

.reason__icon > i {
    font-size: 6rem;
    color: var(--green-main);
}

.reason__title {
    text-align: center;
    color: #292929;
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.reason__description {
    text-align: center;
    font-size: 1.7rem;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    padding: 0 10px;
}
